/****************Positionnement des éléments*********************/

.titreTransparent h2{
  opacity: 0;
}


.rehausserContenuSansTitre {
  margin-top: -7%;
}

.rehausserContenuAvecTitre {
    margin-top: -5%;
}

/****************Taille de la police*********************/

.Large { 
  font-size: 144%;
}

.large {
  font-size: 120%;
}

.small {
  font-size: 90%;
}

.footnotesize {
  font-size: 80%;
}

.scriptsize {
  font-size: 70%;
}

.tiny {
  font-size: 60%;
}

/**************espacement entre titre et texte**********/

.reveal h1 + p img,
.reveal h2 + p img,
.reveal h3 + p img{
  margin-top: 0.3em !important;   /* rapproche l'image du titre */
}

.reveal h2,
.reveal h3 {
  margin-bottom: 0.3em; /* valeur par défaut ≈ 1em */
}

/********************Style du texte*********************/

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: 800;
}

.italic {
  font-style: italic;
}


/*couleurs par défaut*/

.black {
  color: black;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.gray {
  color: gray;
}

.grey {
  color: gray;
}


/******************couleurs palettes Insee**********************/

.dot {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: inline-block;
  padding: 4px 3px 0 3px;
  text-align: center;
}

.nomPaletteCouleur {
  text-align: center;
  top: 50%;
  font-size: 60%;
}

.B6 {
  color: white;
  background-color: #0C3A5A;
}

.B5 {
  color: white;
  background-color: #0F417A;
}

.B4 {
  color: white;
  background-color: #286AC7;
}

.B3 {
  color: white;
  background-color: #5B8ED4;
}

.B2 {
  color: black;
  background-color: #8DB0E1;
}

.B1demi {
  color: black;
  background-color: #AACAF1;
}

.B1 {
  color: black;
  background-color: #C4E1FF;
}

.J6 {
  color: white;
  background-color: #D98C07;
}

.J5 {
  color: white;
  background-color: #E89E0B;
}

.J4 {
  color: white;
  background-color: #FFC300;
}

.J3 {
  color: white;
  background-color: #FBD616;
}

.J2tiers {
  color: black;
  background-color: #ffda5a;
}

.J2 {
  color: black;
  background-color: #FFE58E;
}

.J1 {
  color: black;
  background-color: #FDF0C9;
}

.G6 {
  color: white;
  background-color: #2D363F;
}

.G5 {
  color: white;
  background-color: #646363;
}

.G4 {
  color: white;
  background-color: #868686;
}

.G3 {
  color: white;
  background-color: #B0AEAE;
}

.G2 {
  color: black;
  background-color: #C6C6C6;
}

.G1demi {
  color: black;
  background-color: #dadada;
}

.G1 {
  color: black;
  background-color: #E8E8E8;
}


.R5 {
  color: white;
  background-color: #5D1212;
}

.R4 {
  color: white;
  background-color: #AD1638;
}

.R3 {
  color: white;
  background-color: #E4003A;
}

.R2 {
  color: white;
  background-color: #EB617F;
}

.R1demi {
  color: white;
  background-color: #F190A5;
}

.R1 {
  color: black;
  background-color: #F5B8C2;
}

.R0 {
  color: black;
  background-color: #fbdfe4;
}


.T5 {
  color: white;
  background-color: #1c4b5f;
}

.T4 {
  color: white;
  background-color: #0C6876;
}

.T3 {
  color: white;
  background-color: #008085;
}

.T2 {
  color: white;
  background-color: #0AACAB;
}

.T1demi {
  color: white;
  background-color: #71c3c7;
}

.T1 {
  color: black;
  background-color: #97CFD0;
}

.T0 {
  color: black;
  background-color: #c6e3e4;
}

.P5 {
  color: white;
  background-color: #4f2742;
}

.P4 {
  color: white;
  background-color: #633251;
}

.P3 {
  color: white;
  background-color: #954577;
}

.P2 {
  color: white;
  background-color: #B06293;
}

.P1 {
  color: black;
  background-color: #CA8CB3;
}

.Pdemi {
  color: black;
  background-color: #dcacca;
}

.P0 {
  color: black;
  background-color: #e5c2da;
}

.V5 {
  color: white;
  background-color: #036237;
}

.V4 {
  color: white;
  background-color: #068043;
}

.V3 {
  color: white;
  background-color: #1CA459;
}

.V2 {
  color: white;
  background-color: #4BB375;
}

.V1 {
  color: black;
  background-color: #8BC8A4;
}

.Vdemi {
  color: black;
  background-color: #a2d3b6;
}

.V0 {
  color: black;
  background-color: #c0e0ca;
}


.jaune_insee {
  color: #fdc218;
}

.rouge_insee {
  color: #e4003a;
}

.vert_insee {
  color: #1ca459;
}

.bleu_insee{
  color: #0f417a;
}

.rougeBordeaux {
  color: #610316;
}

.souligneRouge{
  text-decoration-line: underline;
  text-decoration-color: red;
}

.bordureRouge { --mm-bordercolor: red;}


/****************Content-box***********************/

.content-box { 
  box-sizing: content-box;
  background-color: #e2e2e2;
}


.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 10px;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

.content-box-blue {
  background-color: #F0F8FF;
}

.content-box-gray {
    background-color: #e2e2e2;
}

.content-box-grey {
	background-color: #F5F5F5;
}

.content-box-army {
	background-color: #737a36;
}

.content-box-green {
  background-color: #e2faec;
  border: solid 2px #1ca459;
  box-shadow: 5px 5px 5px #aaa;
}

.content-box-purple {
	background-color: #e2e2f9;
}

.content-box-red {
  background-color: #ffe1e9;
  border: solid 2px #e4003a;
  box-shadow: 5px 5px 5px #aaa;
}

.content-box-yellow {
  background-color: #fdf0c9;
  border: solid 2px #fdc218;
  box-shadow: 5px 5px 5px #aaa;	
}


.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}

.pull-left-70 { float: left; width: 66.5%;}
.pull-right-30 { float: right; width: 28.5%; }
.pull-right-30 ~ * { clear: both; }

.pull-left-60 { float: left; width: 57%; }
.pull-right-40 { float: right; width: 38%; }
.pull-right-40 ~ * { clear: both; }

.pull-left-50 { float: left; width: 47.5%; }
.pull-right-50 { float: right; width: 47.5%;}
.pull-right-50 ~ * { clear: both; }

.pull-left-40 { float: left; width: 38%; }
.pull-right-60 { float: right; width: 57%; }
.pull-right-60 ~ * { clear: both; }

.pull-left-30 { float: left; width: 28.5%; }
.pull-right-70 { float: right; width: 66.5%; }
.pull-right-70 ~ * { clear: both; }


.listeSansPuceNiveau1 ul>li{
  list-style-type: none;
}

.listeSansPuceNiveau2 ul>li>ul>li{
  list-style-type: none;
}

.listeSansPuceNiveau3 ul>li>ul>li>ul>li {
  list-style-type: none;
}

.puceListFleche::before {
  content: "\2192";
  color: #610316;
  padding-right: 5px;
}

.puceDiscNiveau1 ul li {
  list-style-type: disc;
}

.puceTiretNiveau2 ul li ul li{
  list-style-type: "- ";
}

.interligne1 ul li:not(:last-child) {
   margin-bottom: 1% !important;
}

.interligne2 ul li:not(:last-child) {
   margin-bottom: 2% !important;
}

.interligne3 ul li:not(:last-child) {
   margin-bottom: 3% !important;
}

.interligne4 ul li:not(:last-child) {
   margin-bottom: 3% !important;
}

.interligne5 ul li:not(:last-child) {
   margin-bottom: 5% !important;
}

.interligne1 ol li:not(:last-child) {
   margin-bottom: 1% !important;
}

.interligne2 ol li:not(:last-child) {
   margin-bottom: 2% !important;
}

.interligne3 ol li:not(:last-child) {
   margin-bottom: 3% !important;
}

.interligne4 ol li:not(:last-child) {
   margin-bottom: 3% !important;
}

.interligne5 ol li:not(:last-child) {
   margin-bottom: 5% !important;
}




.espacementHaut5{
  padding-top: 5%;
  display: block;
}

/***************IMAGES*******************/

.rightImage img {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.centerImage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgWidth100 img{
  width: 100%;
}

.imgWidth90 img{
  width: 90%;
}

.imgWidth85 img{
  width: 85%;
}

.imgWidth70 img{
  width: 70%;
}

.imgWidth60 img{
  width: 60%;
}

.imgWidth50 img{
  width: 50%;
}

.play_icone::before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/icones/play.svg) no-repeat center center;
  width: 100%;
  height: 100%;
}

/***************WIDGETS*******************/

.centerWidget {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.widgetWidth100 {
  width: 100% !important;
}

.widgetWidth90 {
  width: 90% !important;
}

.widgetWidth85 {
  width: 85% !important;
}

.widgetWidth80 {
  width: 80% !important;
}

.widgetWidth70 {
  width: 70% !important;
}

.widgetWidth60 {
  width: 60% !important;
}

.widgetWidth50 {
  width: 50% !important;
}

.widgetWidth40 {
  width: 40% !important;
}

/***************AUTRES*******************/


.reveal .example p {
  border: 4px solid var(--code-full-bg);
  background: none;
  padding: 3vmin;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  font-style: initial;
  margin: 0;

}

.reveal .example img{
   width: 20em;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media print {
  .no-print-pdf {
    display: none !important;
  }
}

