

/*Sommaire*/
#custom-toc-slide {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche.svg);
}


.card-number-01::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-02::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-03::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-04::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-4.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-05::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-5.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-06::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-6.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-07::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-7.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-08::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-8.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-09::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-9.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-10::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-10.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-11::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-11.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.card-number-12::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 100px;
  background-image: url(../_extensions/insee-clair/ressources/elements_sommaire/Element-sommaire-12.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


/*pages Titre*/
div.backgroundTitre_bleu{
  background-image: url(../_extensions/insee-clair/ressources/2_Template-INSEE-Clair_Intercalaire1.svg);
}

div.backgroundTitre_violet{
  background-image: url(../_extensions/insee-clair/ressources/2_Template-INSEE-Clair_Intercalaire2.svg);
}

div.backgroundTitre_jaune{
  background-image: url(../_extensions/insee-clair/ressources/2_Template-INSEE-Clair_Intercalaire3.svg);
}

div.backgroundTitre_vert{
  background-image: url(../_extensions/insee-clair/ressources/2_Template-INSEE-Clair_Intercalaire4.svg);
}


/*Pages standard*/
div.backgroundStandard {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche.svg);
}

div.backgroundStandard_bleu {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche-cercle1.svg);
}

div.backgroundStandard_violet {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche-cercle2.svg);
}

div.backgroundStandard_jaune {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche-cercle3.svg);
}

div.backgroundStandard_vert {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche-cercle4.svg);
}

div.backgroundStandard_multi {
  background-image: url(../_extensions/insee-clair/ressources/3_Template-INSEE-Clair_Page-blanche-cercle5.svg);
}

/*Page finale*/
div.backgroundPageFinale {
  background-image: url(../_extensions/insee-clair/ressources/6_Template-INSEE-Clair_Diapo-finale.svg);
}


