/*-- scss:defaults --*/

$font-family-sans-serif: "Open Sans", "Arial", "Helvetica" ;
$presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: #383d3d !default;
$h1-font-size: 2em;
$h2-font-size: 1.6em;
$h3-font-size: 1.3em;
$h4-font-size: 0.9em;
$h5-font-size: 0.6em;
$h6-font-size: 0.5em;


// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color:  #3ea0e5 !default;
$selection-bg: #26351c !default;
$navigation-tools-color: #3ea0e5 !default;
$main-color-text: #0F417A !default;
$second-color-text: #5B8ED4 !default;
$yellow-color: #ffda5a !default;
$grey-color-endPage: #646363 !default;
$color-text-menu: #bebebe !default ;

/*-- scss:rules --*/

/**************GENERIQUE*******************/

h1{
  font-size: $h1-font-size;
}

.level2{
  h2{
  font-size: $h2-font-size ;
/*  padding-top: 1%;*/
}

  h3{
    font-size: $h3-font-size;
    font-weight: normal;
    border-left: solid 5px #268DFF;
    padding-left: 40px;
  }
  
  h4{
    font-size: $h4-font-size;
    font-weight: normal;
    border-left: solid 5px #9827B5;
    padding-left: 40px;
  }
  
  h5{
    font-size: $h5-font-size;
  }
  
  h6{
    font-size: $h6-font-size;
  }
}


li {
  font-family: $font-family-sans-serif;
  color: $main-color-text;
}

p {
  color: $body-color;
}

.reveal {
  .controls, .progress, .verticator {
    color: $navigation-tools-color;
  }
  a {
    line-height: 1.3em;
    font-weight: bold;
  }
  a:hover {
    text-decoration: underline;
    color: #5a95cf;
  }
  a:active {
    color: blueviolet;
  }
  h1, h4, h5, h6 {
  color: $main-color-text;
  }
  h2 {
    color: $body-color;
  }
  h3 {
    color: $body-color;
  }
  h4 {
    color: $body-color;
  }
}

.slide-number{
  top: 2%; 
  height: fit-content;
  color: $body-color !important;
  font-weight: bold;
  font-size: 20px;
}

.level2{
  ul {
    li {//liste de niveau 1
      list-style-type: "– ";
      font-size: 1em !important;
    }
    ul {
      li {//liste de niveau 2
        list-style-type: disc;
        font-size: 0.9em !important;
      }
      ul {
        li {//liste de niveau 3
          list-style-type: "– ";
          font-size: 0.8em !important;
        }
        ul{
          li{//liste de niveau 4
            list-style-type: disc;
            font-size: 0.9em !important;
          }
          ul{
            li{//liste de niveau 5
              list-style-type: disc;
              font-size: 0.9em !important;
            }
            ul{
              li{//liste de niveau 6
                list-style-type: disc;
                font-size: 1em !important;
              }
            }
          }
        }
      }
    }
  }  
}


/***********premiere page**********/

p.date{
  font-size: 65%;
  text-align: left;
  position: absolute;
  left: 0em;
  top: 35em;
  color: $second-color-text;
}

.reveal h1 {
  font-style: normal;
  font-weight: normal;
  text-align: left;
/*  font-size: 1.5em;*/
}

#title-slide{
  hyphens: auto;
  width: 100%;
  height: 100%;
  left: 2%;
}

.reveal .title {
  padding-top: 20%;
  font-weight: bold;
  color: $body-color;
  width: 50%;
  font-size: 2em;
}

.reveal .subtitle {
  text-align: left;
  font-weight: bold;
  padding-top: 2%;
  color: $second-color-text;
}

.slide-logo{
  max-height: 20% !important;
  right: 5% !important;
  bottom: -10px !important;
}

.quarto-title-authors{
  position: relative;
  left: -0.5em;
  justify-content: left !important;
}

.quarto-title-author{
  color: $main-color-text;
}

.quarto-title-affiliation{
  text-align: left;
  color: $main-color-text;  
}


/***********Page Sommaire ************/

#custom-toc-slide {
  height: 100% !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#custom-toc-slide h2{
  color: $body-color;
  margin-top: 1%;
  text-align: left;
  padding-left: 8%;
}

.card-number{
  text-align: left;
  padding-left: 20%;
  font-size: 235% !important;
  position: relative;
  min-height: 30px; /* Assure que l'icône a de l'espace */
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card-title{
  text-align: left;
  font-size: xx-large;
}


/***********Page Titre ************/

div.backgroundTitre_bleu, div.backgroundTitre_violet, div.backgroundTitre_jaune, div.backgroundTitre_vert{
  max-width: 100%;
  height: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section.backgroundTitre_violet h1 span.header-section-number, section.backgroundTitre_violet h1 span.title-text{
  color: #5F1972 !important; 
}

section.backgroundTitre_jaune h1 span.header-section-number, section.backgroundTitre_jaune h1 span.title-text{
  color: #A36914 !important; 
}

section.backgroundTitre_vert h1 span.header-section-number, section.backgroundTitre_vert h1 span.title-text{
  color: #069F9C !important; 
}




.level1 {
/*  display: flex !important;
  align-items: center;
  justify-content: center;*/
  
  h1 {
    font-weight: bold;
    /*text-decoration: underline;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .header-section-number{
    font-size: 7em;
    top: -0.28em;
    position: relative;
    left: .35em;
  }
  .title-text{
    font-size: 1.7em;
    position: relative;
    top: -1em;
    display: block;
    margin-top: 0;
  }
}


.logoTopRightTitre{
  width: 20%;
  top: -20%;
  position: absolute;
  right: -2em;
}


/***********Page Standard************/

div.backgroundStandard, div.backgroundStandard_bleu, div.backgroundStandard_violet
,div.backgroundStandard_jaune, div.backgroundStandard_vert, div.backgroundStandard_multi {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.level2 {
  h2 {
    margin-top: 2%;
  }
}

.enteteAvecTitre {
  top: -5.5em;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  left: 6.5em;
  width: 65%;
  
  p {
    color: $grey-color-endPage;
  }
}

.enteteAvecTitreSur2lignes {
  top: -6.5em;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  left: 6.5em;
  width: 65%;
  
  p {
    color: $grey-color-endPage;
  }
}

.logoTopLeftStandard{
  width: 15%;
  top: -9%;
  position: absolute;
  left: -1em;
}

/***********Page de fin************/

div.backgroundPageFinale {
  background-repeat: round;
  background-size: cover;
}

.coordonneesFinales{
  position: relative;
  top: 12em;
  left: 2em;
}

.coordonnees {
  font-size: 0.7em;
  margin-top: 2em;
  
  ul li {
    color: white;
    font-weight: bold;
    list-style-type: none;
  }
}


/******************MENU****************/

.fa-sticky-note::before {
  content: "\f249" !important;
}

.fa-adjust::before {
  content: "\f042" !important;
}

.defaultCursor {
  li {
    cursor: default !important;
  }
  a {
    cursor: default;
  }
}

.messageInfoMenu {
  padding-bottom: 15px;
  border-bottom: 2px dotted;
  p {
    color: $color-text-menu;
  }
  
  ul {
    padding-left: 5px;
    li {
      list-style-type: "- ";
      color: $color-text-menu;
    }
  }
}

/************FOOTER PRINCIPAL**************/

#footerPersonnalise {
  position: fixed;
  bottom: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  z-index: 2;
  height: 40px;
}

img.logo {
  width: 40px !important;
  height: 40px !important;
  margin-bottom: -1% !important;
}

img.logo.logo_insee{
  width: 70px !important;
}

.slide-logo {
  height: 50px !important;
  width: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  margin-bottom: 2% !important;
  margin-right: 1% !important;
  image-resolution: from-image;
}

.divCachee{
  display: none !important;
}


/***************WIDGETS*******************/

.plotly {
  padding: 2%;
}

/***************AUTRES*******************/

.aside-footnotes {
  font-size: medium !important;
  left: 9em;
  position: relative;
}

blockquote {
  font-size: 50%;
  font-style: italic !important;
}

summary{
  cursor: pointer;
}

/***************FENETRE MODALE*******************/

.taille_iframe iframe{
  height: 500px;
}

/******************packages DT**********************/

.datatables, .cell-output-display {
  font-size: 70%;
}

.dataTables_length select {
  font-size: 100%;
}

.dt-buttons {
  float: right !important;
  padding: 0 5px;
}


/******************SCROLL VIEW MODE**********************/

.scroll-page-content #title-slide{
  left: 51% !important;
}

.scroll-page-content .toc-cards {
  left: 8%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.scroll-page-content .toc-card {
    flex: 0 0 calc(20% - 1rem); /* 5 cartes par ligne */
/*    background: #f8f9fa;*/
    background: none;
    border-radius: 8px;
    padding: 1rem;
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
    transition: all 0.2s;
    text-align: center;
}

.scroll-page-content h1:not(.title) {
  top: 3em;
  position: relative;
}

/*****FIN Scroll View Mode******/



/******************PDF EXPORT VIEW MODE**********************/
/*CSS quand on tape sur la touche e*/

.pdf-page {
  position: relative !important;
}

.pdf-page #title-slide{
  left: 7% !important;
}

.pdf-page>div.backgroundPageFinale{
  position: relative !important;
}

html.print-pdf div#footerPersonnalise {
  visibility: hidden;
}


.pdf-page  p.date{
  top: 35em;  
}

.print-pdf .slide-logo{
  display: none !important;
}

.pdf-page .logoTopRightTitre{
  display: none;
}

.pdf-page .logoTopLeftStandard{
  display: none;
}

/******************CSS quand on fait fichier>Imprimer... quand on est sur le PDF EXPORT VIEW MODE**********************/

@media print {

  .level2 h2 {
    margin-top: 6%;
  }
  
  [id^="chapters_"] {
  top: 7em !important;
  left: 2em;
  position: relative !important;
}

  #pageDeFin{
    position: relative !important;
    top: -28em !important;
  }
  

  .print_code details{
    display: contents !important;
  }
  
  .no-print-pdf {
    display: none !important;
  }
  
}

